* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgba(20, 177, 177, 0.5);
  --overlay-color: rgba(0, 58, 33, 0.9);

  /* COLOR PALLETE */
  --cool-gray-20: #dde1e6;
  --bright-yellow: #f3f3d7;
  --dark-green: #003a21;
  --light-orange: #ffc892;
  --orange: #ffa700;
  --font-color: #2a2a2a;
  --opacity-green: rgba(33, 112, 78, 0.4);

  --menu-speed: 0.75s;
}

/* FONTS */
@font-face {
  font-family: "Poppins-Regular";
  src: url("font/Poppins-Regular.ttf");
  line-height: 120%;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("font/Poppins-Medium.ttf");
  line-height: 120%;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("font/Poppins-SemiBold.ttf");
  line-height: 120%;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("font/Poppins-Bold.ttf");
  line-height: 120%;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("font/Lato-Bold.ttf");
  line-height: 120%;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("font/Lato-Regular.ttf");
  line-height: 120%;
}

@media only screen and (max-width: 667px) {
  body h1 {
    font-family: "Poppins-SemiBold";
    font-size: 3em;
  }
  body h2 {
    font-family: "Poppins-Regular";
    font-size: 2em;
  }
  body h3 {
    font-family: "Poppins-Regular";
    font-size: 1.5em;
  }
  body p {
    font-family: "Lato-Regular";
    font-size: 1em;
    color: var(--font-color);
  }
  main {
    padding: 1em;
  }
  #background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: var(--bright-yellow);
  }

  /* NAVIGATION */
  #nav {
    width: 100vw;
    padding: 1em;
    display: flex;
    height: 4em;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 0.1em solid var(--cool-gray-20);
    background: var(--bright-yellow);
  }

  .menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 4em;
    height: 4em;
    opacity: 0;
  }
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 4em;
    height: 4em;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Hamburger line */
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 0.3em;
    background-color: #003a21;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  /* Top and bottom lines */
  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -0.6em;
    width: 100%;
    height: 0.3em;
    border-radius: 0.2em;
    background: inherit;
  }
  /* Moves line down */
  .menu-wrap .hamburger > div:after {
    top: 0.6em;
  }
  /* Toggler animate */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  /* Turn Lines into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  /* Rotate on hover when checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  /* Show menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-wrap .menu > div {
    background-color: var(--overlay-color);
    border-radius: 50%;
    width: 300vw;
    height: 300vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }

  /* PLANT ONZE VRIENDEN */
  #plant-friends {
    display: flex;
    height: auto;
    margin-bottom: 3em;
    margin-top: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em;

    border-radius: 1.875em;
    background: var(--opacity-green);
  }
  .two-circles {
    display: flex;
    align-items: flex-start;
    gap: 1.125em;
  }
  .fake-btn-to-plants {
    display: flex;
    height: 3.5em;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 1em;

    border-radius: 1.25em;
    background: #21704e;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);

    text-decoration: none;
    color: var(--bright-yellow);
  }

  /* TEMPLATE */
  .banner-index {
    position: relative;
    top: -0.5em;
    left: -1em;
    margin-right: -2em;

    display: flex;
    height: auto;
    padding: 2.5em 1em 2.5em 1em;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;

    border-radius: 0em 0em 1.5em 1.5em;
    background: rgba(33, 112, 78, 0.4);
  }
  .first-banner {
    position: relative;
  }
  .first-banner::before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 112vw;
    height: 74vh;
    border-radius: 50em;
    background-color: var(--dark-green);
    top: -16em;
    left: -10em;
  }

  .first-banner h1,
  .first-banner p {
    width: 70vw;
    margin-top: 1em;
    position: relative;
    color: #fff;
  }
  .first-banner img {
    width: 15vw;
    margin-top: 2em;
    margin-left: 4em;
  }
  /* .light-green {
    background-color: #21704e;
  } */

  /* INDEX */
  .tomato-hello {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: -em;
    flex-shrink: 0;
  }
  .tomato-hello img {
    position: relative;
    right: 0;
  }
  .tomato-hello p {
    font-size: 2em;
  }

  .intro-what-to-do {
    display: flex;
    margin-bottom: 3em;
    padding: 2em 0em;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  /* INTRO CARD */
  .img-minititle {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .layout-wtd-card {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 1em;
    padding: 1em;

    border-radius: 1.2em;
    background: var(--light-orange);
  }
  .layout-wtd-card p {
    font-family: "Poppins-Regular";
    color: var(--dark-green);
    font-size: 1.2em;
  }

  .fake-btn-to-wtd {
    display: flex;
    padding: 1em 2em;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--bright-yellow);

    border-radius: 1.25em;
    background: var(--dark-green);
    box-shadow: 0em 0.25em 0.25em 0em rgba(0, 0, 0, 0.2);
  }

  /* WAT TE DOEN */
  #what-to-do {
    display: flex;
    margin-top: 6em;
    margin-bottom: 3em;
    padding: 3em 1em;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
  }

  #title {
    display: flex;
    align-items: center;
    align-self: stretch;
    text-transform: uppercase;
    text-align: center;
    flex-direction: column-reverse;
  }
  #title p {
    font-family: "Poppins-Bold";
    font-size: 1.2em;
  }

  /* CARD */
  #cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.3em;
    align-self: stretch;
  }
  .card-title {
    display: flex;
    width: fit-content;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 1em;
  }
  .card {
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    align-self: stretch;
    border-radius: 1em;
  }
  .card-orange {
    background-color: var(--light-orange);
  }
  .card-green {
    background-color: var(--dark-green);
    color: #fff;
  }
  .card-green p {
    color: #fff;
  }

  /* Layout content planten */
  .content-plant {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.25em;
  }
  /* PLANT PAGE */
  #legenda {
    display: flex;
    margin-top: 5em;
    height: 8.75em;
    gap: 0.75em;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
  }
  #legnda h2 {
    font-family: "Poppins-Medium";
    font-size: 2em;
    color: var(--font-color);
  }
  .description {
    display: flex;
    gap: 3.75em;
  }

  .description p {
    order: 2;
  }

  .description img {
    order: 1;
  }

  /* LEVELS */
  .level {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }
  .level-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }

  .plant-card {
    display: flex;
    justify-content: center;
    margin: 1em;
  }
  .plant-card h3 {
    text-decoration: underline;
    font-family: "Poppins-Bold";
    font-size: 1.25em;
    color: var(--dark-green);
  }
  .plant-card .description {
    gap: 1em;
    justify-content: flex-start;
  }
  .plant-card img {
    object-fit: contain;
  }

  .plant-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2em;
  }

  /* Plant card */
  .card-layout {
    display: flex;
    width: 17em;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;

    border-radius: 1.25em;
    background: rgba(255, 200, 146, 0.4);
  }
  .card-level2 {
    background: var(--light-orange);
  }
  .card-level3 {
    background: #ffba76;
  }

  /* button for plant card */
  .fake-btn-able {
    display: flex;
    height: 3.5em;
    padding: 1em;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-decoration: none;
    color: var(--dark-green);

    border-radius: 1.25em;
    background: var(--orange);
    box-shadow: 0em 0.25em 0.25em 0em rgba(0, 0, 0, 0.2);
  }

  /* PLANT INFO PAGE */
  .orange-banner {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--orange);
    border-radius: 50%;
    width: 100%;
    height: 15em;
    margin-top: -8%;

    color: #fff;
  }
  .info-plant {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 4em;
    flex-shrink: 0;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .info-plant img {
    width: 10em;
  }
  .detail-plant {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5em;
  }
  .detail-plant h2 {
    font-family: "Lato-Bold";
    font-size: 1em;
  }
  #letter-plant {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--dark-green);
  }

  /* FOOTER */
  footer {
    display: flex;
    padding: 2em 1em;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
    flex-shrink: 0;

    background: var(--dark-green);
  }
  footer a {
    color: var(--bright-yellow);
    list-style-type: none;
    text-decoration: none;
  }
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    align-self: stretch;
    list-style-type: none;
  }
  footer p {
    color: var(--bright-yellow);
    font-size: 0.5em;
  }
}
